<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Book</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
  <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
  <div class="col-sm-6">
    <h2>Edit book</h2>
    <form action="/save" method="POST">
      <table>
        <tr>
          <td>
           <label class="form-label">ID</label>
            <input type="text" id="id" name="id" class="form-control" th:value="${book.id}" readonly/>
          </td>
        </tr>
        <tr>
          <td>
           <label class="form-label">ISBN</label>
            <input type="text" id="ISBN" name="ISBN" class="form-control" th:value="${book.ISBN}"/>
          </td>
        </tr>
        <tr>
          <td>
           <label class="form-label">Book name</label>
            <input type="text" id="bookName" name="bookName" class="form-control" th:value="${book.bookName}" />
          </td>
        </tr>
        <tr>
          <td>
           <label class="form-label">Author name</label>
            <input type="text" id="authorName" name="authorName" class="form-control" th:value="${book.authorName}" />
          </td>
        </tr>
        <tr>
          <td>
           <label class="form-label">To sale</label>
            <select id="toSale" name="toSale">
            <div th:if="${book.toSale}">
              <option value="true" selected>To sale</option>
              <option value="false">Not to Sale</option>
            </div>
              <div th:if="${not book.toSale}">
                <option value="true">To sale</option>
                <option value="false" selected>Not to Sale</option>
              </div>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit" class="btn btn-info">Save</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
</body>
</html>